<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Vue.js App</title>
    </head>
    <body>
        <div id="app">
            <p>新規登録 or 内容更新</p>
            name: <input v-model="name">
            todo: <input v-model="todo">
            <button v-on:click="doAdd">新規登録</button>
            <hr>
            <p>一覧表示</p>
            <table>
                <!-- thead 表の項目名を記載する欄 -->
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Todo</th>
                    </tr>
                </thead>                
                <!--
                    tbody 表の内容を表示させる欄
                    1行ずつ各項目を並べて表示する
                 -->
                <tbody>
                    <tr v-for="(item, index) in list" v-bind:key="item.id">
                        <td>No.{{ item.id }}</td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.todo }}</td>
                        <td><button v-on:click="doUpdate(index)">内容更新</button></td>
                        <td><button v-on:click="doRemove(index)">No.{{ item.id }}を削除</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios@0.17.1/dist/axios.min.js"></script>
        <script src="main.js"></script>
    </body>
</html>